<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI crop Recommendation</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
   <main>
    <section class="container">
        <header>
             <h1>☘ cropsense</h1>
        <p>AI-powered Crop Recommendation System</p>
        </header>
        <form action="/predict" method="post" id="cropForm" >
            <input
             type="number"
              name="nitrogen" 
              placeholder="Nitrogen(N)" 
              id="nitrogen"
               required>

            <input 
            type="number"
             name="phosphorus"
              placeholder="Phosphorus(P)"
               id="phosphorus"
                required>

            <input
            type="number"
             name="potassium" 
             placeholder="Potassium(K)"
              id="potassium"
               required>

            <input 
            type="number" 
            name="temperature"
             placeholder="Temperature(&deg;C)" 
             id="temperature"
              required>

            <input 
            type="number"
             name="humidity"
              placeholder="Humidity(%)" 
              id="humidity" 
              required>

            <input
             type="number"
              name="pH" 
              placeholder="pH Value"
               id="pH"
               step="0.1"
               min="0"
               max="14"
                required>

            <input 
            type="number"
             name="rainfall"
              placeholder="rainfall(mm)"
               id="rainfall"
                required>

            <button type="submit">
                Get Recommendation
            </button>
        </form>
        <div id="result"></div>
    </section>
   </main>
    <script src="../static/script.js"></script>
</body>
</html>